/* body
{
    background-color: rgb(225, 248, 237);
    font-size: 40px;
    color: rgb(168, 91, 58);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

ul
{

}

#id1
{
    background-color: rgb(225, 248, 237);
    font-size: 40px;
    color: rgb(168, 91, 58);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tableclass 
{

}

h1
{
    background-color: chocolate;
    margin: 50px;
    padding: 10px;
}